
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg{
  background-color: #F5F8FF;
}

/* shared-styles */
.display-flex{
  display: flex;
}
.text-color{
  color: #E95A08;
}
.text-center{
  text-align: center;
}


/* header-style */
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-ber{
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  gap: 48px;
}
.list-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: #8987A1;
  font-weight: bold;
}
.home{
   font-weight: bold;
    color: #252432;
    font-size: 1rem;
    text-decoration: none;
}

/* banner-part */
.banner{
  margin-top: 150px;
}
.banner-lift{
  max-width: 570px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-description{
  color: #8987A1;
  font-size: 1.4rem;
}

/* Our plants style */
.plants-section{
  max-width: 1140px;
    margin: 0 auto;
  
}

.plants-title{
  font-size: 3.10rem;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top:120px ;
}
.plants-description{
  color: #8987A1;
  font-size: 1.24rem;
}
.our-products{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 49px;
}
.card{
  max-width: 270px;
  margin-bottom: 30px;
  gap: 20px;
}

.products-title{
  color: #1E1E1E;
  font-size: 1.24rem;
  font-weight: 500;
  text-align: center;
}
.products-price{
   color: #1E1E1E;
  font-size: 1.24rem;
  font-weight: 700;
  text-align: center;
}
.btn-primary{
  background-color: #e95a08;
  padding: 12px 87px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
   transition: background 0.3s;
}
.btn-primary:hover{
  background-color: #1E1E1E;
}
/* Flower & Plants Lover style */
.love-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;

}
.flowers-store{
  align-items: center;
  gap: 60px;
}
.flowers-store-imge{
  width: 100%;
}
.flower-store-title{
  color: #1E1E1E;
  font-size: 3.10rem;
 font-weight: bold;
}
.description-list{
  color: #8987A1;
  font-size: 1.24rem; 
}
.description-list li{
  margin-bottom: 20px;
}
.badge{
    width: 286px;
    position: absolute;
    margin-top: -730px;
    margin-left: 350px;
}
.trusted-badge{
  filter: drop-shadow(-4px 10px 4px  rgba(0, 0, 0, 0.5));
}

/* Latest  Deals style*/
.Latest-deals{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
}
.latest-content{
  margin-bottom: 0px;
}
.lates-deals-title{
 font-size: 3.10rem;
 font-weight: bold;
 margin-bottom: 0px;
}
.lates-description{
  color: #8987A1;
  font-size: 1.24rem; 
}
.latest-container{
  align-items: center;
  margin-top: 120px;
  gap: 28px;
}
.latest-container a{
    font-size: 1.24rem;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.latest-container a:hover{
  color: #E95A08;
}

.bloom{
     background-image: url(../assets/deal-bloom.png);
    width: 367px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    margin-bottom: 25px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
   

}
.ana-plant{
   background-image: url(../assets/deal-ana.png);
    width: 367px;
    height: 197px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
     background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    
  
}
.zabo-plant{
  background-image: url(../assets/deal-zabo.png);
  width: 753px;
  height: 423px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
 background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);

}
.plant-title{
  color: white;
  font-size: 1.24rem;
  font-weight: bold;
}
.zabo-font{
  font-size: 3rem;
}
/* Subscription-Section style*/
.Subscribe-section{
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  height: 533px;
  margin-top: 120px;

}
.subscribe-title{
   font-size: 3.12rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}
.email{
    width: 650px;
    height: 50px;
    padding-left: 14px;
    margin-top: 20px;
}
.btn-subscribe{
  background-color:#e95a08;
  padding: 19px 50px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-subscribe:hover{
  background-color: #1E1E1E;
}
/* footer-section */
.footer{
  max-width: 1120px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.footer-title{
  font-size: 1.24rem;
  color: #8987A1;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
 
}
.footer-links li{
    list-style: none;
    margin-bottom: 26px;
}
.footer-links a{
   color: #6B7280;
    text-align: justify;
    text-decoration: none;
}
.logo{
  margin-left: 20px;
}
.logo img{
  margin-right: 20px;
}




/* responsive-code */
@media screen and (max-width:576px) {
  .nav-link,.home{
    display: none;
  }


  .banner{
    flex-direction: column-reverse;
    
  }
  .banner-right img{
    width: 100%;
  }
  *{
        overflow-x: hidden;
    }
  .our-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .card img{
    width: 100%;
  }
  .flowers-store{
    flex-direction: column;
    
  }
  .flowers-store li{
    margin-right: 10px;
  }

.badge{
display: none;
 }
 .latest-container{
  flex-direction: column;
 }
 .zabo-plant{
  width: 367px;
  height: 200px;
  text-align: center;
 }
  .Subscribe-section{
  width: 100%;
 }
 .email{
  margin-top: 50px;
  width: 200px;
  height: 30px;
 } 
 .btn-subscribe{
  padding: 10px 27px;
 } 
 .footer{
        grid-template-columns: repeat(1 ,1fr);
    }
    .footer-links{
        grid-template-columns: repeat(1, 1fr);
    } 

}

