
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared-styles */
.display-flex{
  display: flex;
}
.text-color{
  color: #E95A08;
}
.text-center{
  text-align: center;
}


/* header-style */
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-ber{
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  gap: 48px;
}
.list-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: #8987A1;
  font-weight: bold;
}
.home{
   font-weight: bold;
    color: #252432;
    font-size: 1rem;
}

/* banner-part */
.banner{
  margin-top: 150px;
}
.banner-lift{
  max-width: 570;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-description{
  color: #8987A1;
  font-size: 1.4rem;
}

/* Our plants style */
.plants-section{
  max-width: 1140px;
    margin: 0 auto;
  
}

.plants-title{
  font-size: 3.10rem;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top:120px ;
}
.plants-description{
  color: #8987A1;
  font-size: 1.24rem;
}
.our-products{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 49px;
}
.card{
  max-width: 270px;
  margin-bottom: 30px;
  gap: 20px;
}
.products-title{
  color: #1E1E1E;
  font-size: 1.24rem;
  font-weight: 500;
  text-align: center;
}
.products-price{
   color: #1E1E1E;
  font-size: 1.24rem;
  font-weight: 700;
  text-align: center;
}
.btn-primary{
  background-color: #e95a08;
  padding: 12px 87px;
  color: white;
  font-weight: 600;
}
/* Flower & Plants Lover style */
.love-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;

}
.flowers-store{
  align-items: center;
  gap: 60px;
}
.flowers-store-imge{
  width: 100%;
}
.flower-store-title{
  color: #1E1E1E;
  font-size: 3.10rem;
font-weight: bold;
}
.description-list{
  color: #8987A1;
  font-size: 1.24rem; ;
}
.badge{
    width: 286px;
    position: absolute;
    margin-top: -730px;
    margin-left: 350px;
}
.trusted-badge{
  filter: drop-shadow(-4px 10px 4px  rgba(0, 0, 0, 0.5));
}